@{
    ViewData["Title"] = "Articles";
}

<div class="text-center">
    <h1 class="display-4">Articles</h1>

    <ul>
    @foreach(var item in Model)
    {
        <li>
            <h4>@item.Title</h4>
             <p>@item.Article</p>
             <p>@item.Date.AddHours(3).ToString("yyyy.MM.dd HH:mm")   @item.AuthorId</p>
             <p>Статья активна? - @item.IsActive</p>
            @*  <a href="" >Исправить</a>
             <a href="">Удалить</a> *@
        </li>
    }
    </ul>
</div>
