﻿
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="Styles.css">
</head>
    <h3 class="page-title">Последние статьи</h3>
<ul>
        @if (Model.Count > 2)
        {
            for (int i = Model.Count - 2; i < Model.Count; i++)
            {
                var item = Model[i];
                <li>
                    <h5>@item.Title</h5>
                    <p>@item.Article</p>
                    <a>@item.Date.AddHours(3).ToString("yyyy.MM.dd")</a>
                </li>
            }
        }
        else
        {
            foreach (var item in Model)
            {
                <li>
                    <h5>@item.Title</h5>
                    <p>@item.Article</p>
                    <a>@item.Date.AddHours(3).ToString("yyyy.MM.dd")</a>
                </li>
            }
        }
    </ul>
